body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}

/*
    Clientes/Index
*/
#clientes-main {
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}

#clientes-title{
    margin: 0;
}

#clientes-new-button {
    margin-left: auto;
}

/*
    Clientes/Registration
*/

.clientes-form {
    padding-bottom: 50px;
}

.clientes-reg-title {
    padding-top: 30px;
    padding-bottom: 20px;
}

.clientes-reg-address {
    padding-top: 30px;
    padding-bottom: 20px;
}

#clientes-submit-btn {
    float: right;
}

#clientes-edit-btn {
    float: right;
}